{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Final Good {% endblock %}
{% block content %}

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col bg-success">
            <input type="button" value="submit">
        </div>
        <div class="col bg-warning">
            <div class="table-responsive">
                <table class="table">
                    <thead>

                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {

        });
</script>


{% endblock %}