{% extends 'base.html '%}
{% load static %}
{% load bootstrap5 %}
{% block title %}Payments Details {% endblock %}
{% block content %}

    <div class="container">
        <div class="table-responsive text-center">
            <input   class="search_input mt-5" style="float:left;" type="text" id="searchInput" placeholder="Search by payment id...">
            <table class="table" id="pay_table" style="overflow:scroll;">
                <thead>
                    <tr>
                        <th scope="col">Sr No.</th>
                        <th scope="col">Payment Id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Payment Method</th>
<!--                        <th scope="col">payment_status</th>-->
                        <th scope="col">Payment Amount</th>
<!--                        <th scope="col">payment_dues</th>-->




                    </tr>
                </thead>

            {% for data in payments %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td id="pay_id">{{data.payment_id}}</td>
                        <td>{{data.customer}}</td>
                        <td>{{data.payment_method}}</td>
                        <!--<td>{{data.payment_status}}</td>-->
                        <td>{{data.payment_amount}}</td>
<!--                        <td>{{data.payment_dues}}</td>-->
                        <!--<td>
                            <a href="{% url 'edit_production' data.id %}">
                                <button type="button">Edit</button>
                            </a>
                            <a href="{% url 'delete_production' data.id %}">
                                <button type="button">Delete</button>
                            </a>
                        </td>-->
                    </tr>

                  </tbody>
                {% endfor %}
            </table>

            <!--<button id="btn" >Total net weight</button>-->
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#pay_table tbody tr").filter(function() {
                $(this).toggle($(this).find("#pay_id").text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>

{% endblock %}
