{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Detail Raw Material{% endblock %}

{% block content %}

<div class="container mt-4" >
    {% include 'message.html'%}
    <div class="table-responsive">
        <input class="search_input mt-5" style="float:left;" type="text" id="searchInput" placeholder="Search by RST...">

        <table class="table" id="raw_table" style=" overflow:scroll;">
            <thead>
                <tr>
                    <th>Sr no.</th>
                    <th>RST</th>
                    <th>Net Weight</th>
                    <th>Kanta Rate</th>
                    <th>Rate</th>
                    <th>total</th>
                    <th>Paid Amount</th>
                    <th scope="col">Created at </th>
                    <th scope="col">Updated at </th>
                    {% if user.is_superuser %}
                    <th>Action</th>
                    {% endif %}
                    <!-- Add more table headers based on your model fields -->
                </tr>
            </thead>

            <tbody >
                {% for item in rm_data %}
                    <tr style="">
                        <td style="  ">{{ forloop.counter }}</td>
                        <td id="raw_rst">{{ item.rst_no |safe }}</td>
                        <td>{{ item.net_wt|safe}} Kg</td>
                        <td>{{ item.kanta_rate }} Rs</td>
                        <td>{{ item.rate }} Rs</td>
                        <td>{{ item.total }} Rs</td>
                        <td>{{ item.paid_amount }} Rs</td>
                        <td>{{item.created_at |date:"d-m-y H:i:s A"}}</td>
                        <td>{{item.updated_at |date:"d-m-y H:i:s A"}}</td>
                        {% if user.is_superuser %}

                        <td>
                                <a href="{% url 'rm_update' item.id %}">
                                    <button type="button">Update</button>
                                </a>
                                <a href="{% url 'delete_rm_entry' item.id %}">
                                    <button type="button">Delete</button>
                                </a>
                        </td>
                        {% endif %}
                        <!-- Add more table data based on your model fields -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>



<script>
    $(document).ready(function() {
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#raw_table tbody tr").filter(function() {
                $(this).toggle($(this).find("#raw_rst").text().toLowerCase().indexOf(value) > -1);
            });
        });
        function updateData() {
                // AJAX request to get updated data
                $.ajax({
                    type: "GET",
                    url: "/raw_material_details/",  // URL of the view to get data
                    success: function(response) {
                        // Update the displayed data
                        //$("tbody").html(response);
                        console.log(response);
                    },
                    error: function(error) {
                        console.log("Error:", error);
                    }
                });
            }

             function updateTable(data) {
                // Clear existing rows
                $("#dataTable tbody").empty();

                // Append new rows
                $.each(data, function(index, item) {
                    $("#raw_table tbody").append("<tr><td>" + item.field1 + "</td><td>" + item.field2 + "</td></tr>");
                });
            }

            //updateData();
            // Update data every 5 seconds (adjust as needed)
            //setInterval(updateData, 1000);
    });
</script>


{% endblock %}
