{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Detail Final Goods {% endblock %}
{% block content %}

    <div class="container">
        <div class="jumbotron text-center">
            <h1> please fill all details... </h1>
            <form action = "" method = "post" class="post-form">
                {% csrf_token %}
                {{ add_product.as_p }}
                <input type="submit" value=Submit>
            </form>
        </div>
    </div>

{% endblock %}